<div class="container product">
    <div class="row">
        <div class="col-md-12 product-container--flex">
            <h1 class="product-name">{{productCtrl.product.name}}</h1>
            <p class="product-tagline">{{productCtrl.product.tagline}}</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <p class="product-upvotes">{{productCtrl.product.voteCount}} upvotes</p>
        </div>
        <div class="col-md-6 product-container--flex">
            <button class="product-button--producthunt" ng-click="productCtrl.goTo(productCtrl.product.productHuntUrl)">View on ProductHunt</button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <h3 class="product-title--comments">{{productCtrl.product.commentCount}} comments</h3>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 product-container--comments">
            <product-comment ng-repeat="comment in productCtrl.product.comments" ng-model="comment"></product-comment>
        </div>
    </div>
</div>