<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{productCtrl.product.name}}</h1>
            <p>{{productCtrl.product.tagline}}</p>
        </div>
        <div class="col-md-6">
            <p>{{productCtrl.product.voteCount}} upvotes</p>
            <a ng-href="{{productCtrl.product.productHuntUrl}}">View on ProductHunt</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>{{productCtrl.product.commentCount}} comments</h3>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-offset-2">
            <div ng-repeat="comment in productCtrl.product.comments">
                <p><strong>{{comment.postedBy}}</strong></p>
                <p>{{comment.upvotes}}</p>
                <hr/>
                <p>{{comment.body}}</p>
                <hr/>
            </div>
        </div>
    </div>
</div>